{{#section 'style'}}
<script src="/js/util.js"></script>
{{/section}}

{{#section 'WATCHLIST'}}
<script src="/js/watchlist.utils.js"></script>
{{/section}}


<!-- container -->
<div class="container">
    <div class="banner banner-1">
        <img src="https://images6.alphacoders.com/712/712515.jpg" alt="" height="300">
        <div class="banner-caption text-center">
            <h1>QUYẾT ĐOÁN</h1>
            <h3 class="white-color font-weak">Và bạn sẽ là người chiến thắng</h3>
            <button class="primary-btn">Bid Now</button>
        </div>
    </div>
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Product</a></li>
                <li class="active">Search </li>
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="row" style="margin-top:20px">
        <!-- ASIDE -->
        <div id="aside" class="col-md-3">
            <!-- aside widget -->

            <div class="aside">
                <h3 class="aside-title ">&nbsp&nbsp&nbspSEARCHING FOR : "{{query}}"</h3>
                <div class="product-thumb">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51+vTuZ5IeL._AC_SL_QL70_.jpg" alt="">
                </div>
            </div>


        </div>
        <!-- /ASIDE -->

        <!-- MAIN -->
        <div id="main" class="col-md-9">
            <!-- store top filter -->
            <div class="store-filter clearfix">
                <div class="pull-left">
                    <div class="row-filter">
                        <a href="#"><i class="fas fa-filter"></i></a>
                        {{!-- <a href="#" class="active"><i class="fa fa-bars"></i></a>
                        <a href="#" class="active"><i class="fas fa-filter"></i></a> --}}
                    </div>
                    <div class="sort-filter">
                        <span class="text-uppercase">Sort By:</span>
                        <select class="input" id="inputsort">
                            <option value=0>Thời gian kết thúc</option>
                            <option value=1>Giá tăng dần</option>
                        </select>
                        <a href="#" class="main-btn icon-btn" id="buttonorder"><i class="fa fa-arrow-down"></i></a>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="page-filter">
                        <span class="text-uppercase">Show:</span>
                        <select class="input">
                            <option value="0">3</option>
                            <option value="1" selected>6</option>

                        </select>
                    </div>
                    <ul class="store-pages" id="productpage">
                        <li><span class="text-uppercase">Page:</span></li>
                    </ul>
                </div>
            </div>
            <!-- /store top filter -->

            <!-- STORE -->
            <div id="store">
                <!-- row -->
                <div class="row" id="rowproduct">
                    {{#if countPros}}
                    {{#each pros}}
                    <!-- Product Single -->
                    <div class="col-md-4 col-sm-6 col-xs-6" data-price='{{initial_price}}' data-endate='{{expriry_date}}'>
                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">

                                    <span id='time{{id}}' start_date={{start_date}}>
                                        <script>
                                            transferDateFormat(`{{start_date}}`, 'time{{id}}');
                                        </script>
                                    </span>
                                    <span class="sale text-center">New</span>
                                </div>
                                <ul class="product-countdown" id={{id}} expriry_date={{expriry_date}}>
                                    <script>

                                        countDownTimer(`{{ expriry_date }}`, {{ id }});
                                    </script>
                                </ul>

                                <a href="/product/productdetail/{{id}}" class=" main-btn quick-view">Detail</a>
                                <img src="/img/sp/{{id}}.jpg" style="width: 250px;height: 262px;">
                            </div>
                            <div class="product-body">

                                <p class="align-self-end ">
                                    Current Price:
                                </p>

                                <h3 class="product-price">{{curr_price}} K</h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">{{product_name}}</a></h2>
                                <div class="">
                                    <p>
                                        <i class="fas fa-users fa-lg text-info"> </i> {{countBidders}}
                                        bidders
                                        {{#if isWinned}}
                                        <i class="fas fa-trophy " style="margin-left: 10px; color:#29d159;"></i>
                                        {{winnerName}}

                                        {{/if}}


                                    </p>
                                    <p>Buy now: <strong>{{imme_buy_price}} K</strong></p>
                                </div>
                                <div class="product-btns">

                                    <i class="fa fa-heart main-btn icon-btn" onclick="actOnPro(event);"
                                        data-pro-id="{{id}}" data-islike="false">
                                    </i>

                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>&nbsp
                                        Bid
                                        now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Single -->
                    {{/each}}
                    {{else}}
                    <!-- Product Single -->
                    <div style="padding-left: 20px;">
                        <h3 class="title">No products match.</h3>
                    </div>
                    {{/if}}

                </div>
                <!-- /row -->
            </div>
            <!-- /STORE -->

        </div>
        <!-- /MAIN -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->